<h1>板一覧</h1>
<p>Where will you go?</p>

<div class="roomlinks">
    <a href="/posts/001" class="roomlink">スマホパソコン板</a>
    <a href="/posts/002" class="roomlink">ファミリー板</a>
    <a href="/posts/003" class="roomlink">学び板</a>
    <a href="/posts/004" class="roomlink">雑談板</a>
    <a href="/posts/005" class="roomlink">推し板</a>
    <a href="/posts/002" class="roomlink">友達探し板</a>
    <a href="/posts/001" class="roomlink">受験相談板</a>
    <a href="/posts/001" class="roomlink">教えて先輩コーナー</a>
</div>