<h1>フトウェブ FutoWeb</h1>
<p>こども不登校専用サイト</p>

<h2>相談したいことはありますか?</h2>
<p>優しい人たちが、相談に乗ったり、お話してくれたりします。<br>
何事も、ここなら気軽にどうぞ。</p>
<%= link_to("板一覧はこちらから", "/postboards") %>

<h2>開発部員からのメッセージ</h2>
<p>
このサイトを作った僕のきっかけ<br>
まず、皆さんは、いじめにあったことはありますか？<br>
ついでに、僕はあります。何度も何度もね。<br>
そんないじめられている子に、助ける勇気はありますか？<br>
そして、いじめにあい、何度もやられていると、<br>
「学校行きたくない」「学校いやだ」<br>
などのことで、不登校になる子がいます。<br>
不登校は、全国の小中学校で、29万9000人 もいます。<br>
あなたは、不登校な子、慰められますか？<br>
</p>
<p>
いじめは本当にやめろ。<br>
殴られたり、叩かれたり、嫌な思いをする。<br>
そうすると、ストレスが徐々に溜まっていき、<br>
自殺したり、不登校になったりっていう大騒ぎになる。<br>
たとえ嫌いな奴でも、いじめはしないでくれ。<br>
確実に、暴行罪、恐喝罪、傷害罪などに問われる可能性がある。<br>
人と人は繋がっている。例え誤ったとしても、心はまだダメージ<br>
を受けている。だから本当にやめろ。いじめは、Scratchでも、<br>
同じように受ける。みんなのおかげで、繫がり合っている。<br>
だからこそ、世界ができている。<br>
</p>
(@Sacuabana-dayo 様より)
